body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f9fa;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  /* Home page styles */
  .home-background {
    background-image: linear-gradient(to bottom right, #007bff, #00b0ff);
    padding: 80px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .home-title {
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .home-subtitle {
    color: #fff;
    font-size: 20px;
  }
  
  /* About page styles */
  .about-info {
    margin-top: 40px;
  }
  
  .about-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-description {
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Contact page styles */
  .contact-form {
    margin-top: 40px;
  }
  
  .contact-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .contact-textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .contact-submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  
  .contact-submit:hover {
    background-color: #0056b3;
  }
  
  /* Additional styles for improved aesthetics */
  body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  .container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  h1, h2, h3 {
    color: #333;
    margin-top: 22px;
    color: blue;
  }
  